<?xml version="1.0"?>
<model>
  <name>isr_drone</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ISR Drone Developer</name>
    <email>isaiah@drone-isr-ros2</email>
  </author>
  <description>
    Airmobi V35 VTOL ISR drone - ROS2 Jazzy / Gazebo Harmonic
  </description>
</model>
